{% extends base_template_name %}

{% load tz %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load edc_base_extras %}

{% block main %}
<div class="container">
    <div class="col-md-12">
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading">

                    <i class="fa fa-user-circle-o fa-2x"> {{navbar_name}}</i></i>
                        <span class="pull-right">{% include 'edc_dashboard/search_form.html' %}</span>

                </div>
                <div class="table table-responsive">
                    <table class="table table-condensed table-hover small">
                    <thead>
					{% if navbar_name == 'screening' %}
						{% include 'bcpp_clinic_dashboard/screening/listboard/results_header.html' %}
			         	</thead>
			         	<tbody>
                    	{% include 'bcpp_clinic_dashboard/screening/listboard/results_body.html' %}
					{% else %}
                    	{% include 'bcpp_clinic_dashboard/listboard/results_header.html' %}

			         	</thead>
			         	<tbody>

                    	{% include 'bcpp_clinic_dashboard/listboard/results_body.html' %}
					{% endif %}
			         </tbody>
			         </table>
                    <!-- begin spacer rows -->

                    <table>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    </table>
                    <!-- end spacer rows -->
                </div>
                {% include 'edc_dashboard/paginator.html' %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock main %}
